DE4_BERI.qws
output_files/
output_files_default/
output_files_nodip/
DE4_SOC.sopcinfo
DE4_SOC.html
DE4_SOC
DE4_SOC_ddr2_p0_summary.csv
DE4_SOC_template.sopcinfo
DE4_SOC_template.html
DE4_SOC_template/
DE4_BERI.jdi
DE4_BERI.dtb
DE4_BERI.dts
DE4_BERI.dts.cpp
PLLJ_PLLSPE_INFO.txt
.qsys_edit
DE4_BERI.dse.rpt
db/
dse/
incremental_db/
DE4_SOC.qsys
display_pll.qip
display_pll.v
display_pll_bb.v
display_pll.ppf
pll_125.qip
pll_125.v
pll_125_bb.v
pll_125.ppf
altgx_reconfig.qip
altgx_reconfig.v
altgx_reconfig_bb.v
greybox_tmp/
*.original
DE4_BERI.tis_db_list.ddb
